{% extends '@FOSMessage/layout.html.twig' %}

{% block fos_message_content %}
<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile form1">
<h3>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h3>
            <form action="{{ url('fos_message_thread_new') }}" method="post">
                {{ form_widget(form) }}

                <input type="submit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
