{% extends 'base.html.twig' %}

{% block content %}
    <div class="banner-top">
        <div class="container" >
            <h3 > <center>Categories </h3></center>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="spec ">
        <h3>La liste des categories</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
<div class="bs-docs-example">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.id == idconnected  %}
                {% for category in categories %}
                    {% if user == category.idUser  %}
                        <tr>
                            <td>{{ category.nom }}</td>
                            <td>
                                <ul>
                                    <ul>
                                        <li class="label label-info" > <a style="color:white"  href="{{ path('categories_show', { 'idCategorie': category.idCategorie }) }}">show</a></li>
                                        <li class="label label-default"><a style="color: white" href="{{ path('categories_edit', { 'idCategorie': category.idCategorie }) }}">edit</a></li>
                                    </ul>

                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
        <li class="label label-default"><a style="color: white"  href="{{ path('categories_new') }}"> Créer un nouveau produit</a></li>
        </li>
    </ul>
{% endblock %}
