{% extends 'base.html.twig' %}

{% block content %}
    <div class="banner-top">
        <div class="container" >
            <h3 > <center>Categories </h3></center>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="spec ">
        <h3>La liste des categories</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
<div class=" table">

<div class="content-mid">
    <div class="container">

                {% for user in users %}
                    {% if user.id == idconnected  %}
                        {% for category in categories %}
                            {% if user == category.idUser  %}

                                <div class="col-md-4 m-w3ls">

                                    <div class="col-md1 ">

                                        <div class="col-m">
                                        <a href="{{ path('categories_show' , { 'idCategorie': category.idCategorie }) }}" >
                                         <div> <img src="{{ asset('public/images/categories/'~category.imageName) }}" class="img-responsive img" alt="">
                                         </div>
                                        </a>
                                        <div class="text-center">
                                            <h3> {{ category.nom }}  </h3>
                                        </div>
                                    </div>
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>

    <br>
    <div class="form-w3agile form1">
        <center><br>
            <a href="{{ path('categories_new') }}"><input type="submit" value="Ajouter une nouvelle categorie" /></a>

        </center>
    </div>


{% endblock %}
