
{% extends 'base.html.twig' %}

{% block content %}
<div class="product">
    <div class="container">
        <div class="spec ">
            <h3> Espace des livraisons</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <br/>



            <label style="margin-bottom: 20px"> <h3> Choisissez l'adresse et la date de la livraison : </h3></label>
            <br/>
            <div class="form-group row">
                <div class="col-md-4">
                    <input class="form-control" type="date" value="2020-05-05" id="dateLiv">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <input class="form-control" type="text" value="" id="adress">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <button id="affecter" class="btn btn-info">Chercher un Transporteur</button>
                </div>
            </div>



       {# <h2>
            {{ livraison.idLivraison }}
        </h2>#}

        <div class="col-lg-6" style="margin-top: 2px" >
            <ul id="transp" class="list-group list-group-flush">

            </ul>

        </div>



    </div>
</div>


    <script>
        $("#affecter").click(function () {

            var dateLiv = $("#dateLiv").val();
            var adresse = $("#adress").val();
            $.ajax({
                url: "http://localhost/DebboPiWeb/web/app_dev.php/Transporteur/recherche?dateLiv="+dateLiv+"&adresse="+adresse,
                type:"GET",
               // data:{dateLiv:"2020-04-16",adresse:"beja"},
                success:function (retour) {
                    onSuccess(retour);

                }
            });

            function onSuccess(retour) {
                let html = "";
                $.each(retour, function(k, v){
                   // var idUser= ${v.id};
                    html += `<li class="list-group-item "> <p id="idLiv">${v.id}</p> <p style="margin-bottom: 1px">Nom : ${ v.nom }</p> <br/><p style="margin-bottom: 1px"> Prenom : ${ v.prenom }</p> <br/><p style="margin-bottom: 4px"> Téléphone : ${ v.tel }</p> <br/>
                                <button id="edit" class="btn btn-warning text-right " style="width: 100px ">
                                <i class="fa fa-pencil-square fa-lg" ></i> Affecter</button>
                        </li>
                        <br />`
                })
                $("#transp").html(html);
                $("document").ready(function () {
                    $("#edit").click(function () {
                        var idUser = $("#idLiv").val();

                        $.ajax({
                            url: "http://localhost/DebboPiWeb/web/app_dev.php/Transporteur/modifierLiv?dateLiv="+dateLiv+"&idUser="+idUser+"&id="+{{ livraison.idLivraison }},
                            type:"GET",
                            // data:{dateLiv:"2020-04-16",adresse:"beja"},
                            success:function (retour) {
                                onSuccess(retour);

                            }
                        });



                    })

                })

            }

        });

    </script>
{% endblock %}


