{% extends 'base.html.twig' %}
{% block content %}

    <div class="product">
    <div class="container">
    <div class="spec ">
        <h3> Espace des contrats</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    <br/>
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    <div style="display: block; margin: 100px; ">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    </div>
        <div class="row" style="text-align: center">
            <a class="btn btn-danger" href="{{ path("afficher_contrat") }}" >Annuler</a>
            <input class="btn btn-warning" type="submit" value="Modifier"/>
        </div>
    {{ form_end(form) }}

    </div>
    </div>

{% endblock %}