{% extends 'base.html.twig' %}

{% block body %}

    <div class="banner-top">
        <div class="container">
            <h3 >Profile</h3>
            <h4><a href="/DebboPiWeb/web/app_dev.php/">Accueil</a><label>/</label><a href="/DebboPiWeb/web/app_dev.php/profile">Profile</a><label>/</label>Edit</h4>

            <div class="clearfix"> </div>
        </div>
    </div>

    <!--login-->

    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
                <h3>Profile</h3>
                {% block fos_user_content %}
                    {% include "@FOSUser/Profile/edit_content.html.twig" %}
                    {% include "@FOSUser/ChangePassword/change_password.html.twig" %}
                    {% include "@FOSUser/Resetting/request.html.twig" %}
                {% endblock fos_user_content %}
            </div>

        </div>
    </div>
{% endblock %}
