{% extends 'base.html.twig' %}

{% block body %}

    <div class="banner-top">
        <div class="container">
            <h3 >Mot de passe</h3>
            <h4><a href="/DebboPiWeb/web/app_dev.php/">Accueil</a><label>/</label><a href="/DebboPiWeb/web/app_dev.php/password">Mot de passe</a><label>/</label>RESET</h4>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!--login-->

    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
                <h3>Password</h3>
                {% block fos_user_content %}
                    {% include "@FOSUser/Resetting/request.html.twig" %}
                {% endblock fos_user_content %}
            </div>

        </div>
    </div>
{% endblock %}
