{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner-top">
        <div class="container">
            <h3 >Accueil</h3>
            <h4><a href="/DebboPiWeb/web/app_dev.php/">Accueil</a><label>/</label> </h4>
            <div class="clearfix"> </div>
        </div>
    </div>
{% endblock %}