{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
        Bienvenue à deBBo.tn</div>
{% endblock %}