{% extends 'base.html.twig' %}

{% block content %}
    <div class="banner-top">
        <div class="container" >
            <h3 > <center>Mouvement du stock </h3></center>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="spec ">
    <h3>Ajouter un nouveau mouvement</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
            {{ form_end(form) }}

    <ul>
        <a href="{{ path('mouvementdustock_index') }}"><input type="submit" value="Retour à la liste" /></a>

    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}