{% extends 'base.html.twig' %}

{% block content %}
<div class="banner-top">
    <div class="container" >
        <div class="agileinfo">
        <a href="{{ path ('categories_index') }}" ><h3 > <p style="color:white" align="left"> Categorie </p>  </a> </h3></div>

        <a href="{{ path ('produit_index') }}" ><h3 > <p style="color:white" align="center"> Produits </p>  </a> </h3>

        <a href="{{ path ('produit_index') }}" ><h3 > <p style="color:white" align="right"> Mouvement du stock </p>  </a> </h3>
        <div class="clearfix"> </div>
    </div>
</div>
{% endblock %}