{% extends  'baseBack.html.twig' %}

{% block content %}


    <section class="content">
    <div class="container-fluid">

    <div class="row">
     <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                {% for nbCA in nbCA %}
                    <h3>{{  nbCA.nombre}}</h3>
                {% endfor %}
                <p>Nombre des catégories</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
        {% for tab in tab %}

        <div class="col-lg-3 col-6">
        <!-- small box -->

        <div class="small-box bg-danger">
            <div class="inner">
                    <h3>{{  tab.categorie}}</h3>
                    <h3>{{  tab.qtt[0].somme}}</h3>
                <p>Nombre des produits par catégorie</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
{% endfor %}
    </div>
    </div>
    </section>

{% endblock %}