
{% extends 'base.html.twig'%}


{% block content %}

    <div class="banner-top">
        <div class="container">
            <h3 >Entrepot</h3>
            <h4><a href="/DebboWeb/web/app_dev.php/">Accueil</a><label>/</label><a href="/DebboWeb/web/app_dev.php/entrepot/">Entrepot</a><label>/</label>Louer</h4>

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="spec ">
        <h3>Location d'un entrepot</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>


    <div class="content-top ">
        <div class="container ">
            {% if entrepots[0].idEntrepot == null %}
                <a> Tableau est vide</a>
            {% else %}
                <div class="tab-head ">
                    <div class=" tab-content tab-content-t ">
                        <div class="tab-pane active text-style" id="tab1">
                            <div class=" con-w3l">

                                {% for entrepot in entrepots %}
                                    <div class="col-md-3 m-wthree">
                                        <div class="col-m">
                                            <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
                                                <img src="{{ asset('images/4.jpg') }}" class="img-responsive" alt="">

                                            </a>
                                            <div class="mid-1">
                                                <div class="women">
                                                    <h6>{{ entrepot.adresse }}</h6>
                                                </div>
                                                <div class="mid-2">
                                                    <p ><em class="item_price">{{ entrepot.prixLocation }} Dt</em></p>
                                                    <div class="block">
                                                        <div class="starbox small ghosting"> </div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="add">
                                                    <a href="{{ path('location_new', { 'idEntrepot': entrepot.idEntrepot }) }}" class="btn btn-danger my-cart-btn my-cart-b"  role="button" aria-pressed="true">Louer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}



                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
    </div>




{% endblock %}

