{% extends 'base.html.twig' %}

{% block body %}
<div class="banner-top">
    <div class="container">
        <h3 >Departement</h3>
        <h4><a href="/DebboPiWeb/web/app_dev.php/">Accueil</a><label>/</label><a href="/DebboPiWeb/web/app_dev.php/dep/">Departement</a><label>/</label>Ajouter</h4>

        <div class="clearfix"> </div>
    </div>
</div>
<div style="margin: 100px 200px 100px 200px">
    <div class="spec ">
        <h3>Creation d'un Employee</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    <div class="spec ">
        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input style="width: 150px; margin-bottom: 10px;height: 30px; border:none" class="btn btn-success btn-lg"  type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-success btn-lg"  href="{{ path('employe_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
