{% extends 'base.html.twig' %}

{% block body %}

<div class="banner-top">
    <div class="container">
        <h3 >Location</h3>
        <h4><a href="/DebboPiWeb/web/app_dev.php/">Accueil</a><label>/</label><a href="/DebboPiWeb/web/app_dev.php/location/">Location</a><label>/</label>Ajouter</h4>

        <div class="clearfix"> </div>
    </div>
</div>


<div class="spec ">
    <h3>Creation d'une location</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
</div>

    <a class=" add-1"  href="{{  (render(controller("GererEntrepotBundle:Location:confirmation",{ 'location': location }) )) }}">Confirmation </a>

{% endblock %}